body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: thistle;
}

header{
    width: 100%;
    height: 50%;
    min-height: 50px;
    background-image:url(img/Alipio\ de\ Melo.jpg) ;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,0,0, 0.5);
}
nav ul{
    box-sizing: border-box;
    display: flex;
    padding: 0;
    list-style-type: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    
}
nav ul li a {
    text-decoration:none ;
    color:floralwhite;
}
nav ul li a:hover{
    cursor: pointer;
    color:blue; 
    border-bottom: 2px solid blue;
}
header section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: cal(100%-50px);
}
.logo{
    text-align: center;
    font-family:cursive Verdana;
    color: red ;
    text-shadow: 75px red;
    font-size: 70px;
}
.mov {
    display:flex;
}
.mov li{
    display: flex;
    align-items: center;
    list-style: none;
    color:red;
    font-size: 70px;
    letter-spacing: 50px;
    padding: 10px;
    animation:delay 0.5s  linear infinite;
}
@keyframes delay{
    0%{
        color: red;
        text-shadow: none;
    }
    50%{
        color: red;
        text-shadow: none;
    }
    100%{
        color: silver;
        text-shadow: 0 0 7px silver, 0 0 50px gold;
    }
}
ul mov li:nth-child(1){
    animation-delay:0s;
}
ul mov li:nth-child(2){
    animation-delay:0.5s;
}
ul mov li:nth-child(3){
    animation-delay: 1.0s;
}
ul mov li:nth-child(4){
    animation-delay: 1.5s;
}
ul mov li:nth-child(5){
    animation-delay: 2.0s;
}
ul mov li:nth-child(6){
    animation-delay: 2.5s;
}
ul mov li:nth-child(7){
    animation-delay: 3.0s;
}
ul mov li:nth-child(8){
    animation-delay: 3.5s;
}
ul mov li:nth-child(9){
    animation-delay: 4.0s;
}
ul mov li:nth-child(10){
    animation-delay: 4.5s;
}
ul mov li:nth-child(11){
    animation-delay: 5.0s;
}
ul mov li:nth-child(12){
    animation-delay: 5.5s;
}

h1{
    text-decoration: none;
}
h1:hover{
    cursor: pointer;  
    color: red;
}

.aqui{
    background-color: red;
    border:black;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    list-style-type: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.aqui:hover{
    cursor: pointer;
    color:blue; 
    border-bottom: 2px solid blue;
}

.aqui p::after{
    content:counter(CLIQUE AQUI)
}
iframe:active{
    cursor: pointer;
}

.alinharElementoAEsquerda{
    float: left;
    padding-left: 0%;
    width: 350px;
}

img{
    float: right;
    padding: right 0; 
    width: 350px;
}

p{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    padding: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
}
h3{
    width: 100%;
    display: flex;
    background-color: red;
       
}
h3 a {
    text-decoration:none ;
    color:red;
}
h3:hover{
    cursor: pointer;
    color:blue; 
    border-bottom: 2px solid rgb(148, 148, 160);
}
